body{
    width: 500px;
    text-align: center;
    background-color: rgb(51, 51, 132);
}

.score{
    background: #0a0001;
    color: rgb(164, 68, 83) ;
    font-size: 90px;
    width: 120px;
    border: 2px solid black;
    margin: 20px;

}

#btn1, #btn2, #btn3, #btn11, #btn22, #btn33{
    font-size: 15px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 10px;
    color: white;
    background-color: rgb(51, 51, 132);
}
.contanier{
    display: flex;
    justify-content: space-around;
    color: white;
}
.column{
    font-size: 27px;
    font-weight: bolder;
    margin-bottom: 5px;
}